<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Titel{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Bibbutler</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			{% block navbar %}
            <li class="active">
              <a href="{% url 'bib_list' %}">Bibliographies</a>
            </li>
			{% endblock navbar %}
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input class="form-control input-sm" placeholder="username" type="text">
              <input class="form-control input-sm" placeholder="password" type="password">
            </div>
            <button type="submit" class="btn btn-default btn-sm">
              Submit
            </button>
          </form>
        </div>
      </nav>
	  {% block header %}
      <div class="page-header">
        <h2>
          {% block head %}Titel{% endblock %}
        </h2>
      </div>
	  {% endblock header %}
	  
	  {% block content %}
	  
	  {% endblock content %}

    <p> </p>
    </div>

    {% block modal %}

	  {% endblock modal %}

    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
  </body>

</html>