{% extends "bibbutler_web/base.html" %}
{% load my_helpers %}

{% block title %}Entry List{% endblock %}
{% block head %}Entries for {{ bib.document_name|truncatewords:10}}{% endblock %}

{% block content %}

{% for entry in entry_list %}

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md1 col-md-10" style="display: block;">
          <a href="{% url 'entry_detail' entry.id %}"> <h3 class="panel-title">
            {{ entry.title|truncatechars:35 }}
          </h3></a>
        </div>
        <div class="col-md1 col-md-2 text-right" style="display: block;">
          <a href="#deleteEntry{{ entry.id }}Modal" class="" data-toggle="modal"><span class="glyphicon glyphicon-remove text-danger"></span></a>
        </div>
      </div>
    </div>
    <div class="panel-body">
    {% with publisher=None %}
      <span class="label label-default">{{ entry.get_bibtex_key }}</span>
      <small>({% get_class_verbose_name entry %} entry)</small> <br>
      {% firstof entry.author entry.editor %}{% firstof entry.publisher entry.organization entry.institution as publisher %}{% if publisher %}, {{ publisher }}
      {% endif %} <br>
      {% firstof entry.date entry.year %}
    {% endwith %}
    </div>
  </div>
</div>

{% empty %}

<div class="alert alert-info" role="alert">There are now Entries in these Bibliography.</div>

{% endfor %}

  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><h3> </h3>
    </div>
    <div class="panel-body ">
      <div class="center-block">
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#entryTypeModal" >New Entry</button>
      </div>
    </div>
  </div>
</div>


<div class="row">

 <div class="col-md-12">
   <a href="{% url 'bib_list' %}" class="btn btn-default">Back to all bibliographies</a>
   <a href="{% url 'bib_detail' bib.id %}" class="btn btn-default">Details of the Bibliography</a>
 </div>
</div>

{% endblock content %}

{% block modal %}

  {% for entry in entry_list %}
    {% load_modal_delete_entry entry.id %}
  {% endfor %}
  {% load_modal_entry_type bib.id %}
{% endblock modal %}