{% extends "bibbutler_web/base.html" %}

{% block title %}Welcome to Bibbutler{% endblock %}

{% block navbar %}
<li>
  <a href="#">Bibliographies</a>
</li>
{% endblock navbar %}

{% block header %}{% endblock %}

{% block content %}  
<div class="jumbotron">
	<h1>
	  Welcome to Bibbutler
	</h1>
	<p>
	  Your online bibligraphy manage tool.
	</p>
	<div class="btn-group">
	  <a class="btn btn-primary btn-lg" href="{% url 'bib_list' %}">List all your Bibs</a>
	  <a class="btn btn-info btn-lg" href="{% url 'new_bib' %}">Create a new one</a>
	</div>
</div>
{% endblock content %}
